.container-1 { 
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    margin-left: 1%;
    position: relative;
}

.container-1::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(100deg, #fcfeff, #f1fbfd, #cbdffb);
    border-radius: 30px; /* Радиус закругления углов для фона */
    z-index: -1;
    width: 65%; /* Ширина фонового слоя */
}

.header-title {
    color: #353535;
    padding-top: 10%;
    padding-left: 10%;
    margin: 0;
    font-size: 500%;
    line-height: 97%;
    font-family: Corbel;
    letter-spacing: -0.05em; /* уменьшить интервал между буквами на 0.5em (половина текущего размера шрифта) */
}

.header-text {
    padding-top: 3%;
    font-size: 110%;
    color: #7c7c7c;
    font-family: Arial;
    letter-spacing: 0.01em;
    line-height: 150%;
}

.header-title, 
.header-text { 
    white-space: pre-line; /* перенос строки */
    padding-left: 10%;
}

.box-1 {
    width: 50%; 
    height: 700px; 

    img {
        padding-left: 10%;
        padding-top: 7%;
        max-width: 7%; 
        height: auto;
        vertical-align: text-bottom;
        margin-right: 3%;
    }
}

.box-2 {
    width: 670px; 
    height: 500px;
    margin-right: 14%;
    margin-top: 5%;
    background: white; /* Градиентный фон с измененными цветами */
    border-radius: 15px; /* Радиус закругления углов */
    box-shadow: 2px 5px 60px rgba(224, 224, 224, 0.5);
}

.calc-title {
    color: #353535;
    padding-top: 6%;
    padding-left: 5%;
    margin: 0;
    font-size: 160%;
    line-height: 97%;
    font-family: Arial;
    letter-spacing: -0.05em; /* уменьшить интервал между буквами на 0.5em (половина текущего размера шрифта) */
}

form {
    padding-top: 5%;
    padding-left: 5%; 
}

input[type="radio"] {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    -webkit-appearance: none; /* Отключаем стандартный внешний вид */
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d1d1d1; /* Устанавливаем границу */
    border-radius: 50%; /* Делаем форму круглой */
    outline: none; /* Убираем контур при фокусе */
    cursor: pointer; /* Устанавливаем указатель при наведении */
}

input[type="radio"]:checked {
    background-color: #2057ff; /* Изменяем фон для активированных радиокнопок */
    border: 7px solid #dbe7ff; /* Устанавливаем границу */
}

.radio {
    display: flex;
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center;
    color: #333; /* Цвет текста */
    font-family: Arial; /* Шрифт текста */
    padding-bottom: 8%;
    padding-right: 42%;
    font-size: 110%;
    text-align: center;
}

label[for="metric"], label[for="imperial"] {
    position: relative;
    bottom: 7px;
    left: 5px;
}

.num {
    display: flex;
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center;
    padding-bottom: 5%;
    padding-right: 42%;
    font-size: 95%;
    color: #7c7c7c;
    font-family: Arial;
    letter-spacing: 0.01em;
}

input[type="number"] {
    position: relative;
    width: 150px;
    height: 65px;
    margin-right: 20px;
    padding-left: 10%;
    -webkit-appearance: none; /* Отключаем стандартный внешний вид */
    -moz-appearance: none;
    appearance: none;
    border: none; /* Убираем границы */
    background: transparent; /* Устанавливаем прозрачный фон */
    outline: none; /* Убираем обводку при фокусировке */
}

/* Скрыть стрелочки для полей ввода типа "number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Скрыть внутренние и внешние стрелочки в Webkit браузерах (Chrome, Safari) */
    appearance: none; /* Скрыть стрелочки в других браузерах */
    margin: 0; /* Убрать отступы, чтобы сохранить компактный вид */
}

.custom-input {
    width: 100%;
    font-size: 30px;
    color: #333333;
    font-weight: bolder;
    font-family: Yu Gothic UI;
    letter-spacing: -0.02em;
}

.custom-input::placeholder {
    color: #c3c3c3; 
}

.num-group111 {
    display: flex;
    position: relative;
    width: 250px;
    height: 70px;
    margin-top: 5%;
    margin-right: 20px;
    border: 1px solid #e6e6e6; /* Устанавливаем границу */
    border-radius: 15px; /* Делаем форму круглой */
    outline: none; /* Убираем контур при фокусе */

    p {
        position: absolute;
        left: 80%;
        font-size: x-large;
        font-weight: bold;
        color: #2050ff;
    }
}

.result {
    width: 580px;
    height: 130px;
    background: linear-gradient(100deg, #0561fe, #5490ff);
    border-top-left-radius: 10px; /* Радиус скругления для верхнего левого угла */
    border-bottom-left-radius: 10px; /* Радиус скругления для нижнего левого угла */
    border-top-right-radius: 65px; /* Радиус скругления для верхнего правого угла */
    border-bottom-right-radius: 65px; /* Радиус скругления для нижнего правого угла */
}

.result-title {
    color: white;
    font-family: Calibri Light;
    font-size: 160%;
    padding-top: 5%;
}

.result-text {
    margin-top: -2%;
    color: rgb(218, 217, 217);
    font-family: Calibri;
    font-size: 100%;
}

.result-title, .result-text {
    padding-left: 6%;
}

.container-2 { 
    display: flex;
    justify-content: space-between;
    padding-right: 1%;
}

.box-3 {
    
    img {
        width: 820px;
        height: 700px;
        padding-top: 10%;
        padding-left: 10%;
    }
}

.box-4 {
    width: 1000px;

    img {
        padding-left: 65%;
        padding-bottom: 5%;
        padding-top: 4%;
        max-width: 10%; 
        height: auto;
    }
}

.body-title {
    color: #353535;
    padding-right: 10%;
    margin: 0;
    font-family: Corbel;
    font-size: 380%;
    letter-spacing: -0.05em; /* уменьшить интервал между буквами на 0.5em (половина текущего размера шрифта) */
}

.body-text {
    padding-top: 2%;
    font-family: Arial;
    font-size: 110%;
    color: #5f8a97;
    letter-spacing: 0.05em;
    line-height: 140%;
}

.body-title, 
.body-text {
    white-space: pre-line; /* перенос строки */
    padding-right: 10%;
    padding-left: 25%;
}

.container-3 { 
    display: flex;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 3%;
}

.box-5 { 
    width: 98%;
    background: linear-gradient(100deg, #feffff, #f1fbfd, #f8faff); /* Градиентный фон с измененными цветами */
    border-radius: 30px; /* Радиус закругления углов */
}

.container-3-1 { 
    display: flex;
    justify-content: space-between;
}

.b-title {
    color: #353535;
    padding-right: 10%;
    margin: 0;
    font-family: Arial;
    font-size: 180%;
    letter-spacing: -0.05em; /* уменьшить интервал между буквами на 0.5em (половина текущего размера шрифта) */
}

.b-text {
    padding-top: 2%;
    font-family: Arial;
    font-size: 105%;
    color: #5f8a97;
    letter-spacing: 0.05em;
    line-height: 140%;
}

.b-title, 
.b-text {
    white-space: pre-line; /* перенос строки */
}

.box-5-1 .b-title, 
.box-5-1 .b-text,
.box-5-1 img {
    padding-left: 24%;
}

.box-5-1 img {
    padding-top: 10%;
    padding-bottom: 5%;
    max-width: 10%; 
    height: auto;
}


.box-5-1 .b-text {
    padding-bottom: 15%;  
}

.box-5-1 {
    width: 30%;
}

.box-5-2 .b-title, 
.box-5-2 .b-text,
.box-5-2 img {
    padding-left: 15%;
    
}

.box-5-2 img {
    padding-top: 10%;
    padding-bottom: 5%;
    max-width: 11%; 
    height: auto;
}

.box-5-2 .b-text {
    padding-bottom: 15%;  
}

.box-5-2 {
    width: 30%;
}

.box-5-3 .b-title, 
.box-5-3 .b-text,
.box-5-3 img {
    padding-left: 1%;
}

.box-5-3 img {
    padding-top: 10%;
    padding-bottom: 5%;
    max-width: 11%; 
    height: auto;
}

.box-5-3 .b-text {
    padding-bottom: 15%;  
}

.box-5-3 {
    width: 30%;
}

.footer-title {
    color: #353535;
    padding-right: 10%;
    margin: 0;
    font-family: Corbel;
    font-size: 380%;
    letter-spacing: -0.05em; /* уменьшить интервал между буквами на 0.5em (половина текущего размера шрифта) */
}

.footer-text {
    padding-top: 2%;
    font-family: Arial;
    font-size: 110%;
    color: #5f8a97;
    letter-spacing: 0.05em;
    line-height: 140%;
}

.footer-title, 
.footer-text {
    white-space: pre-line; /* перенос строки */
    padding-left: 16%;
}

.container-4 { 
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
}

.box-6 {

    width: 50%;
}

.box-7 {
    width: 420px; 
    height: 260px;
    margin-right: 10%;
    margin-top: 1%;
    background: white; /* Градиентный фон с измененными цветами */
    border-radius: 15px; /* Радиус закругления углов */
    box-shadow: 30px 40px 60px -10px rgba(131, 140, 162, 0.5);

    img {
        max-width: 10%; 
        height: auto;
        vertical-align: text-bottom;
        margin-right: 3%;
    }
}

.b1-title {
    font-size: 150%;
    color: #353535;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 1%;
    font-family: Arial;
    letter-spacing: -0.05em; /* уменьшить интервал между буквами на 0.5em (половина текущего размера шрифта) */
}

.b1-text {
    font-family: Arial;
    font-size: 110%;
    color: #5f8a97;
    letter-spacing: 0.05em;
    line-height: 140%;
}

.b1-title, 
.b1-text {
    white-space: pre-line; /* перенос строки */
    padding-left: 10%;
}

.container-5 { 
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}

.box-8 {
    width: 8%;
    margin-left: 18%;

    img {
        padding-bottom: 5%;
        max-width: 80%; 
        height: auto;
    }
}

.box-9 {
    width: 420px; 
    height: 215px;
    margin-left: 21%;
    background: white; /* Градиентный фон с измененными цветами */
    border-radius: 15px; /* Радиус закругления углов */
    box-shadow: 30px 40px 60px -10px rgba(131, 140, 162, 0.5);

    img {
        max-width: 10%; 
        height: auto;
        vertical-align: text-bottom;
        margin-right: 3%;
    }
}

.box-10 {
    width: 420px; 
    height: 215px;
    margin-right: 5%;
    background: white; /* Градиентный фон с измененными цветами */
    border-radius: 15px; /* Радиус закругления углов */
    box-shadow: 30px 40px 60px -10px rgba(131, 140, 162, 0.5);

    img {
        max-width: 10%; 
        height: auto;
        vertical-align: text-bottom;
        margin-right: 3%;
    }
}

.box-11 {
    width: 420px; 
    height: 265px;
    margin-left: 37.5%;
    background: white; /* Градиентный фон с измененными цветами */
    border-radius: 15px; /* Радиус закругления углов */
    box-shadow: 30px 40px 60px -10px rgba(131, 140, 162, 0.5);

    img {
        max-width: 10%; 
        height: auto;
        vertical-align: text-bottom;
        margin-right: 3%;
    }
}

.box-12 {
    width: 420px; 
    height: 265px;
    margin-right: 16%;
    background: white; /* Градиентный фон с измененными цветами */
    border-radius: 15px; /* Радиус закругления углов */
    box-shadow: 30px 40px 60px -10px rgba(131, 140, 162, 0.5);

    img {
        max-width: 10%; 
        height: auto;
        vertical-align: text-bottom;
        margin-right: 3%;
    }
}

.container-6 { 
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 7%;
}

@media screen and (max-width: 768px) {
    .container-1 { 
        flex-direction: column; /* Измените на необходимую ориентацию */
        justify-content: center; /* Измените на необходимое выравнивание */
        align-items: center;
        position: relative;
    }
    
    .container-1::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(100deg, #fcfeff, #f1fbfd, #cbdffb);
        border-radius: 30px; /* Радиус закругления углов для фона */
        z-index: -1;
        width: 100%; /* Ширина фонового слоя */
        height: 35%;
    }

    .header-title {
        color: #353535;
        margin: 0;
        font-size: 350%;
        text-align: center;
        line-height: 97%;
        font-family: Corbel;
        letter-spacing: -0.05em; /* уменьшить интервал между буквами на 0.5em (половина текущего размера шрифта) */
    }
    
    .header-text {
        padding-top: 3%;
        font-size: 103%;
        color: #7c7c7c;
        font-family: Arial;
        text-align: center;
        letter-spacing: 0.01em;
        line-height: 150%;
        white-space: normal;
        width: 100%;
        padding-left: 0;
        
    }
    
    .header-title, 
    .header-text { 
        padding-right: 10%;
    }
    
    .box-1 {
        width: 100%; 
        height: 700px; 
    
        img {
            padding-left: 46%;
            padding-top: 7%;
            max-width: 6%; 
            height: auto;
            vertical-align: text-bottom;
            margin-right: 3%;
        }
    }

    .box-2 {
        width: 670px; 
        height: 500px;
        margin-bottom: 95%;
        margin-left: 10%;
        background: white; /* Градиентный фон с измененными цветами */
        border-radius: 15px; /* Радиус закругления углов */
        box-shadow: 2px 5px 60px rgba(224, 224, 224, 0.5);
    }

    .container-2 { 
        flex-direction: row; /* Измените на необходимую ориентацию */
        justify-content: center; /* Измените на необходимое выравнивание */
        align-items: center;
    }
    
    .box-3 {

        overflow: hidden; /* Обрезать все, что не помещается в контейнере */
        
        img {
            width: 150%;
            height: auto;
            margin-left: -35%;
            padding: 0;
        }
    }
    
    .box-4 {
    
        img {
            display: none;
        }
    }
    
    .body-title {
        color: #353535;
        padding-right: 10%;
        margin: 0;
        font-family: Corbel;
        font-size: 200%;
        white-space: pre-line;
        letter-spacing: -0.05em; /* уменьшить интервал между буквами на 0.5em (половина текущего размера шрифта) */
    }
    
    .body-text {
        padding-top: 2%;
        font-family: Arial;
        font-size: 80%;
        color: #5f8a97;
        letter-spacing: 0.05em;
        line-height: 140%;
        white-space: normal;
    }
    
    .box-5 { 
        width: 98%;
        background: linear-gradient(100deg, #feffff, #f1fbfd, #f8faff); /* Градиентный фон с измененными цветами */
        border-radius: 30px; /* Радиус закругления углов */
    }
    
    .container-3-1 { 
        flex-direction: column; /* Измените на необходимую ориентацию */
        justify-content: start; /* Измените на необходимое выравнивание */
        align-items: flex-start;
    }
    
    .b-title {
        color: #353535;
        padding-right: 10%;
        margin: 0;
        font-family: Arial;
        font-size: 180%;
        letter-spacing: -0.05em; /* уменьшить интервал между буквами на 0.5em (половина текущего размера шрифта) */
    }
    
    .b-text {
        padding-top: 2%;
        font-family: Arial;
        font-size: 105%;
        color: #5f8a97;
        letter-spacing: 0.05em;
        line-height: 140%;
    }
    
    .b-title, 
    .b-text {
        white-space: normal;
    }
    
    .box-5-1 .b-title, 
    .box-5-1 .b-text,
    .box-5-1 img {
        padding-left: 5%;
    }
    
    .box-5-1 img {
        padding-top: 10%;
        padding-bottom: 5%;
        max-width: 10%; 
        height: auto;
    }
    
    
    .box-5-1 .b-text {
        padding-bottom: 15%;  
    }
    
    .box-5-1 {
        width: 100%;
    }
    
    .box-5-2 .b-title, 
    .box-5-2 .b-text,
    .box-5-2 img {
        padding-left: 5%;
    }
    
    .box-5-2 img {
        padding-top: 10%;
        padding-bottom: 5%;
        max-width: 11%; 
        height: auto;
    }
    
    .box-5-2 .b-text {
        padding-bottom: 15%;  
    }
    
    .box-5-2 {
        width: 100%;
    }
    
    .box-5-3 .b-title, 
    .box-5-3 .b-text,
    .box-5-3 img {
        padding-left: 5%;
    }
    
    .box-5-3 img {
        padding-top: 10%;
        padding-bottom: 5%;
        max-width: 11%; 
        height: auto;
    }
    
    .box-5-3 .b-text {
        padding-bottom: 15%;  
    }
    
    .box-5-3 {
        width: 100%;
    }

    .footer-title {
        color: #353535;
        margin: 0;
        font-family: Corbel;
        font-size: 380%;
        letter-spacing: -0.05em; /* уменьшить интервал между буквами на 0.5em (половина текущего размера шрифта) */
    }
    
    .footer-text {
        font-family: Arial;
        font-size: 110%;
        color: #5f8a97;
        letter-spacing: 0.05em;
        line-height: 140%;
        padding-left: 2%;
    }
    
    .footer-title, 
    .footer-text {
        white-space: normal;
        text-align: center;
    }
    
    .container-4 { 
        flex-direction: column; /* Измените на необходимую ориентацию */
        justify-content: center; /* Измените на необходимое выравнивание */
        align-items: center;
    }
    
    .box-6 {
        width: 100%;
    }
    
    .box-7 {
        width: 420px; 
        height: 260px;
        margin-right: 10%;
        margin-top: 1%;
        background: white; /* Градиентный фон с измененными цветами */
        border-radius: 15px; /* Радиус закругления углов */
        box-shadow: 30px 40px 60px -10px rgba(131, 140, 162, 0.5);
    
        img {
            max-width: 10%; 
            height: auto;
            vertical-align: text-bottom;
            margin-right: 3%;
        }
    }
    
    .b1-title {
        font-size: 150%;
        color: #353535;
        margin: 0;
        padding-top: 10%;
        padding-bottom: 1%;
        font-family: Arial;
        letter-spacing: -0.05em; /* уменьшить интервал между буквами на 0.5em (половина текущего размера шрифта) */
    }
    
    .b1-text {
        font-family: Arial;
        font-size: 110%;
        color: #5f8a97;
        letter-spacing: 0.05em;
        line-height: 140%;
    }
    
    .b1-title, 
    .b1-text {
        white-space: pre-line; /* перенос строки */
        padding-left: 10%;
    }
    
    .container-5 { 
        display: flex;
        justify-content: space-between;
        padding-top: 2%;
    }
    
    .box-8 {
        width: 8%;
        margin-left: 18%;
    
        img {
            padding-bottom: 5%;
            max-width: 80%; 
            height: auto;
        }
    }
    
    .box-9 {
        width: 420px; 
        height: 215px;
        margin-left: 21%;
        background: white; /* Градиентный фон с измененными цветами */
        border-radius: 15px; /* Радиус закругления углов */
        box-shadow: 30px 40px 60px -10px rgba(131, 140, 162, 0.5);
    
        img {
            max-width: 10%; 
            height: auto;
            vertical-align: text-bottom;
            margin-right: 3%;
        }
    }
    
    .box-10 {
        width: 420px; 
        height: 215px;
        margin-right: 5%;
        background: white; /* Градиентный фон с измененными цветами */
        border-radius: 15px; /* Радиус закругления углов */
        box-shadow: 30px 40px 60px -10px rgba(131, 140, 162, 0.5);
    
        img {
            max-width: 10%; 
            height: auto;
            vertical-align: text-bottom;
            margin-right: 3%;
        }
    }
    
    .box-11 {
        width: 420px; 
        height: 265px;
        margin-left: 37.5%;
        background: white; /* Градиентный фон с измененными цветами */
        border-radius: 15px; /* Радиус закругления углов */
        box-shadow: 30px 40px 60px -10px rgba(131, 140, 162, 0.5);
    
        img {
            max-width: 10%; 
            height: auto;
            vertical-align: text-bottom;
            margin-right: 3%;
        }
    }
    
    .box-12 {
        width: 420px; 
        height: 265px;
        margin-right: 16%;
        background: white; /* Градиентный фон с измененными цветами */
        border-radius: 15px; /* Радиус закругления углов */
        box-shadow: 30px 40px 60px -10px rgba(131, 140, 162, 0.5);
    
        img {
            max-width: 10%; 
            height: auto;
            vertical-align: text-bottom;
            margin-right: 3%;
        }
    }
    
    .container-6 { 
        display: flex;
        justify-content: space-between;
        padding-top: 2%;
        padding-bottom: 7%;
    }



  }




